@model WebApp.Areas.Admin.Models.User.IndexViewModel

<h2>Users</h2>

<div style="padding-top: 20px;">
    <table class="table table-condensed table-bordered table-editable">
        <thead>
            <tr>
                <th style="text-align: center; vertical-align: middle;"><i class="glyphicon glyphicon-menu-hamburger"></i></th>
                <th>Name</th>
                <th>Role</th>
                <th>User Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody id="UserTableRows">
            @Html.Partial("_UserTableRows", Model)
        </tbody>
    </table>
</div>
@section Scripts{

    @*@Scripts.Render("~/bundles/knockout")*@

    @Html.Partial("Index_js", Model)

}