@model WebApp.Areas.Admin.Models.User.IndexViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Users</h2>

<div style="padding-top: 20px;">
    <table class="table table-condensed table-bordered table-editable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Role</th>
                <th>User Name</th>
                <th>Email</th>
                <th>Lockout Enabled</th>
                <th>Lockout End Date</th>
                <th>Access Failed Count</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="UserTableRows">
            @Html.Partial("_UserTableRows", Model)
        </tbody>
    </table>
</div>
@section Scripts{

    @*@Scripts.Render("~/bundles/knockout")*@

    @Html.Partial("Index_js", Model)

}