@{
    ViewBag.Title = "Services";
}
<h2>Orvosi IME Service Overview</h2>

<p>This section will be a short paragraph summarizing the services we provide. We provide the following services:</p>

<h3>Focued on results</h3>

<p>The scenario described below is based on our own experience so we know it works. We know it could work for you. Our doctors are also clients the same way you could be.</p>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h4>Current Workload and Earnings</h4>
            <u>Assessment Breakdown</u>
            <ul>
                <li>$1000 Per Assessment</li>
                <li>1 hour per doc review</li>
                <li>1 hour per assessment</li>
                <li>30 minutes per report</li>
            </ul>

            <u>Workload Breakdown</u>
            <p>Dr. Smith does a full day of IMEs once a week and a half day after clinic once a week.</p>
            <ul>
                <li>Full day = 7 IMEs (ending at 6pm)</li>
                <li>Half day = 3 IMEs (ending at 6pm)</li>
            </ul>
            <u>Results</u>
            <ul>
                <li>TIME = 25 hours</li>
                <li>MONEY = $10,000 per week/$400 per hour</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Workload and Earnings with Orvosi Medical</h4>
            <u>Assessment Breakdown</u>
            <ul>
                <li>$1000 Per Assessment</li>
                <li><b>0 hour</b> per doc review</li>
                <li><b>20 min</b> per assessment</li>
                <li>30 minutes per report</li>
            </ul>

            <u>Workload Breakdown</u>
            <p>Dr. Smith does a full day of IMEs once a week and a half day after clinic once a week.</p>
            <ul>
                <li>Full day = <b>12 IMEs (ending at 5pm)</b></li>
                <li>Half day = <b>6 IMEs</b> (ending at 6pm)</li>
            </ul>
            <u>Results</u>
            <ul>
                <li>TIME = <b>15 hours (10 hours you get back)</b></li>
                <li>MONEY YOU EARN = <b>$12,600 per week ($2,600 more you earn)</b></li>
                <li>MONEY FOR US = $5,400 per week (35% per assessment, no hidden fees and no negotiation. This rate is the same for every doctor)</li>
            </ul>
        </div>
    </div>
</div>
<div class="alert alert-success">
    You work less, and make more. We make some money too. It's a WIN WIN.
</div>

