@using WebApp.ViewModels.DashboardViewModels
@model Person

@if (Model != null)
{
<span title="@Model.DisplayName" 
      class="btn btn-circle disabled" 
      style="cursor: default; color: white; background-color: @(string.IsNullOrEmpty(Model.ColorCode) ? "gray" : Model.ColorCode);">
    <span class="small">@(string.IsNullOrEmpty(Model.Initials) ? "?" : Model.Initials)</span>
</span>
}