@model WebApp.ViewModels.ServiceRequestViewModels.NoteViewModel

<div id="notes-@Model.ServiceRequestId">
    @if (!string.IsNullOrEmpty(Model.Note))
    {
        <h4 class="text-info">Note</h4>
        @Html.Raw(Model.Note)
        <span>
            &nbsp;&nbsp;
            <a href="#" onclick="onEditNote(@Model.ServiceRequestId)"><i class="fa fa-pencil"></i></a>
        </span>
    }
    else
    {
        <div>
            <i class="fa fa-sticky-note-o"></i>
            <a href="#" onclick="onEditNote(@Model.ServiceRequestId)"><small>Add Note</small></a>
        </div>
    }
</div>