@model WebApp.ViewModels.ServiceRequestViewModels.NoteViewModel

<div id="notes-@Model.ServiceRequestId">
    <h4 class="text-info"><i class="fa fa-sticky-note" style="color: darkgoldenrod;"></i> My Note <a href="#" onclick="onEditNote(@Model.ServiceRequestId)"><small><i class="fa fa-pencil fa-fw"></i></small></a></h4>
    @Html.Raw(Model.Note)
</div>