@model WebApp.ViewModels.DashboardViewModel

<div style="height:100%;margin:auto;">
    <iframe src="//secure.scheduleonce.com/@Model.BookingPageName&app=b&thm=white&dt=&em=1" id="SOI_@Model.BookingPageName" name="ScheduleOnceIframe" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" height="635px" width="100% !important" vspace="0" style="max-width: 796px;width:100% !important;border-radius: 7px;-webkit-border-radius:7px;"></iframe>
</div>