@model WebApp.ViewModels.DashboardViewModel

<script type="text/javascript">
    $('document').ready(function () {

        var physician = $('#PhysicianId');
        var service = $('#ServiceId')
        physician.change(function (e) {
            e.preventDefault();
            // load the new service catalogue
            $.get(
                '@Url.Content("~/dashboard/getservicecatalogue/")' + physician.val(),
                {},
                function (data, status, e) {
                    service.children('option:not(:first)').remove();
                    $.each(data, function (index, object) {
                        service
                            .append($("<option></option>")
                            .attr("value", object.Id)
                            .text(object.Name));
                    });
                },
                'json'
            );
        });

        var form = $('#SpecialRequestForm');
        form.bind('submit', function (e) {
            e.preventDefault();
            $.post(form.attr('action'), form.serialize(), function (data, status) {
                physician.val('');
                service.val('');
                $('#Timeframe').val('')
                $('#AdditionalNotes').val('')
                toastr.info(data, 'Success');
                console.log(data, status);
            });
        });

    })
</script>