@using WebApp.ViewModels.DashboardViewModels
@model TaskViewModel

<div class="col-xs-12">
    <span class="pull-left">
        @Html.Partial("_TaskButton", Model.Task)
    </span>
    <span>
        @Model.Task.Name
    </span>
    <span class="pull-right">
        @Html.Partial("_TaskActionMenu", Model)
    </span>
    <span class="pull-right" style="margin-left: 5px;">
        @Html.Partial("_TaskStatusLabel", Model.Task.StatusId)
    </span>
</div>
