@using WebApp.Library.Extensions
@using WebApp.ViewModels.DashboardViewModels
@model WeekFolder

<div>
    <a data-toggle="collapse" href="#WeekFolder-@Model.StartDate.Ticks">
        <span class="lead">
            @Model.WeekFolderName
        </span>
    </a>
        <span class="badge">@Model.AssessmentCount</span>
        <span class="badge">@Model.TaskCount</span>
    <div id="WeekFolder-@Model.StartDate.Ticks" class="collapse">
        <ul class="list-group">
            @foreach (var dayFolder in Model.DayFolders)
            {
                <li class="list-group-item">@dayFolder.Day.ToOrvosiDateFormat()</li>
            }
        </ul>
    </div>
</div>
