@model WebApp.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.UserDisplayName</h2>
<p class="help-block text-danger">@Model.UserRoleName</p>
