@model WebApp.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (string.IsNullOrEmpty(Model.UserCompanyLogoCssClass))
{
    <div class="@Model.UserCompanyLogoCssClass"></div>
}
else
{
    <h2>@Model.UserCompanyDisplayName</h2>
}
<p class="help-block text-danger">@Model.UserRoleName</p>
<p class="help-block text-danger">@Model.UserCompanyDisplayName</p>   
