@model WebApp.ViewModels.DashboardViewModel
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@functions 
{
    string GetButtonState(string id) 
    {
        if (Model.SchedulingProcess == "ByPhysician" && id == "ByPhysician"
                || Model.SchedulingProcess == "ByTime" && id == "ByTime")
        {
            return "active";
        }
        else
        {
            return string.Empty;
        }
    }
}

<div class="col-md-3">
    <div class="img-thumbnail @Model.UserCompanyLogoCssClass"></div>
    <div class="page-header">
        <h1>@Model.UserCompanyDisplayName</h1>
    </div>
    <div class="text-muted">
        <small>
            We only show specialties and file types that are available. If it doesn't show up, there are no physicians available of that speciality or who have agreed to do that file type.
            <br /><br />
            Sincerely,
            <br />
            Orvosi Medical Management
        </small>
    </div>
</div>
<div class="col-md-9">
    <div class="btn-group" role="group" aria-label="Scheduling process" style="padding-bottom:1em;">
        <a href="~/Dashboard/Index?schedulingProcess=ByPhysician" class='btn btn-default @GetButtonState("ByPhysician")'>By Physician</a>
        <a href="~/Dashboard/Index?schedulingProcess=ByTime" class='btn btn-default @GetButtonState("ByTime")'>By Time</a>
    </div>
    <div style="height:100%;margin:auto;">
        <iframe src="//secure.scheduleonce.com/@Model.BookingPageName&app=b&thm=white&dt=&em=1" id="SOI_@Model.BookingPageName" name="ScheduleOnceIframe" scrolling="no" frameborder="0" hspace="0" marginheight="0" marginwidth="0" height="635px" width="100% !important" vspace="0" style="max-width: 796px;width:100% !important;border-radius: 7px;-webkit-border-radius:7px;"></iframe>
    </div>
</div>

@section scripts 
{
<script type="text/javascript" src="//static.scheduleonce.com/mergedjs/ScheduleOnceEmbed.js"></script>
<script type="text/javascript">soe.AddEventListners();</script>
}
