@model  WebApp.Models.Appointment.Index
@{
    ViewBag.Title = "Appointments";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="~/Appointment">Appointment List</a>

<h2>Book an Appointment</h2>

<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label for="Claimant">Claimant</label>
                <input type="text" class="form-control" name="Claimant" value="" />
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="Physician">Type</label>
                <select class="form-control" name="AssessmentType">
                    <option></option>
                    <option value="E3F80FDC-3127-49B1-A84D-154688F6730E">Accidental Benefit</option>
                    <option value="45D296D0-4895-41FF-96DE-47DF8B8D8A77">Medical Legal</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="Physician">Physician</label>
        <select class="form-control" name="Physician">
            <option></option>
            <option value="E3F80FDC-3127-49B1-A84D-154688F6730E">Dr. Zeeshan Waseem</option>
            <option value="45D296D0-4895-41FF-96DE-47DF8B8D8A77">Dr. Aria Waseem</option>
        </select>
    </div>
    <div class="form-group">
        <label for="Date">When</label>
        <div>
            <a id="toggleavailability" class="btn btn-primary" role="button" data-toggle="collapse" href="#availability" aria-expanded="false" aria-controls="availability">
                Select Available Timeslot
            </a>
        </div>
    </div>
    <div class="form-group">
        <div id="availability" class="collapse"></div>
    </div>
</form>
<h3>Documents</h3>
<form id="medbriefs">
    <div class="form-group">
        <div class="btn btn-success fileinput-button">
            <i class="glyphicon glyphicon-plus"></i>
            <span>Add files...</span>
            <input id="fileupload" type="file" name="files[]" multiple="">
        </div>
    </div>
</form>
<table class="table table-bordered table-responsive">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Upload Date
            </th>
            <th>
                File Type
            </th>
            <th>
                Contains PHI
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Some important document</td>
            <td>2015-07-10 13:13</td>
            <td>PDF</td>
            <td>YES</td>
        </tr>
        <tr>
            <td>Some other important document</td>
            <td>2015-07-11 11:13</td>
            <td>DOCX</td>
            <td>NO</td>
        </tr>
    </tbody>
</table>


@section Scripts {

    @Scripts.Render("~/bundles/fullcalendar")


    <script type="text/javascript">
        $(document).ready(function () {

            $('#availability').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
                },
                defaultView: 'agendaWeek',
                selectable: true,
                minTime: 7,
                maxTime: 21,
                events: [
				{
				    title: 'All Day Event',
				    start: '2014-06-01'
				},
				{
				    title: 'Long Event',
				    start: '2014-06-07',
				    end: '2014-06-10'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2014-06-09T16:00:00'
				},
				{
				    id: 999,
				    title: 'Repeating Event',
				    start: '2014-06-16T16:00:00'
				},
				{
				    title: 'Meeting',
				    start: '2014-06-12T10:30:00',
				    end: '2014-06-12T12:30:00'
				},
				{
				    title: 'Lunch',
				    start: '2014-06-12T12:00:00'
				},
				{
				    title: 'Birthday Party',
				    start: '2014-06-13T07:00:00'
				},
				{
				    title: 'Click for Google',
				    url: 'http://google.com/',
				    start: '2014-06-28'
				}
                ]
            });

            $('#availability').on('shown.bs.collapse', function () {
                $('#availability').fullCalendar('render');
            })

            //$('#fileupload').fileupload({
            //    dataType: 'json',
            //    done: function (e, data) {
            //        $.each(data.result.files, function (index, file) {
            //            $('<p/>').text(file.name).appendTo(document.body);
            //        });
            //    }
            //});
        });
        
    </script>
}
