<h2>Seed Database</h2>

<button class="btn btn-primary" onclick="seedDatabase()">Seed Database</button>

<h2>Google Tests</h2>

<form>
    <input id="emailTo" type="email" name="to" />
</form>
<button type="button" onclick="sendEmailFromUsersLinkedEmailAccount()">Send Email From Users Linked Email Account</button>

<script>
    function seedDatabase() {
        $.post('@Url.Content("~/SysTools/Home/SeedDatabase")')
            .done(function (result) {
                alert('successfully seeded.');
            })
            .fail(alert('failed.'));
    }
    function sendEmailFromUsersLinkedEmailAccount() {
        $.post('@Url.Content("~/SysTools/Home/SendEmailFromUsersLinkedEmailAccount")', {
            emailTo: $('#emailTo')
        })
            .done(function (result) {
                alert('successfully seeded.');
            })
            .fail(alert('failed.'));
    }
</script>
