@using Features = Orvosi.Shared.Enums.Features
@using WebApp.Models

@model IEnumerable<AvailableDayResourceViewModel>

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
    var features = identity.GetFeatures();
}


<table>
    @foreach (var resource in Model)
    {
        <tr>
            <td width="20px">@Html.Partial("~/Views/Availability/_ResourceActionMenu.cshtml", resource)</td>
            <td width="50px">@Html.Partial("_Initials2", resource.Person)</td>
            <td><div>@resource.Person.Name</div></td>
        </tr>
    }
</table>

