@using Features = Orvosi.Shared.Enums.Features
@using WebApp.Library.Extensions
@model ListViewModel

@{
    var features = User.Identity.GetFeatures();
    var userId = User.Identity.GetUserContext().Id;
}

<h1>Services </h1>

@if (features.Contains(Features.Services.Manage))
{
    <button class="btn btn-success" onclick="showNewServiceForm()">New Service</button>
}
<div id="service-list">
    @Html.Partial("List", Model)
</div>

@Html.Partial("ModalContainer")
@Html.Partial("ModalContainerSmall")

@section Scripts{

    @Html.Partial("IndexJS")
}