@model WebApp.ViewModels.TaskFilterViewModel
<form action="~/Dashboard/DueDates" method="get">
    <input type="hidden" name="serviceProviderId" value="@Model.SelectedUserId" />
    <ul class="list-unstyled list-inline">
        @foreach (var item in Model.Tasks)
        {
            <li><input type="checkbox" name="selectedTaskTypes" value="@item.Id" @(Model.SelectedTaskTypes.Any(taskId => taskId == item.Id) ? "checked" : string.Empty) /> @item.Name</li>
        }
        <li><button type="submit" class="btn btn-small">Apply Filter</button></li>
    </ul>
</form>