@using WebApp.FormModels
@using WebApp.Library
@using Features = Orvosi.Shared.Enums.Features
@model TaskViewModel

@{
    var session = DependencyResolver.Current.GetService<SessionService>();
    var features = session.AuthorizedFeatures;
    var identity = session.identity;
}

@if (Model.TaskId == Tasks.SubmitInvoice && features.Contains(Features.Accounting.ManageInvoices))
{
    <section data-hastools="true">
        @if (features.Contains(Features.Accounting.ViewInvoice))
        {

        <div class="panel panel-default">
            <div class="panel-heading">

                <h3 class="panel-title pull-left">
                    Invoices
                </h3>
                @if (features.Contains(Features.Accounting.CreateInvoice))
                {
                    <div class="pull-right">
                        @Html.Partial("~/Views/ServiceRequest/InvoiceListMenu.cshtml", Model.ServiceRequestId)
                    </div>
                }
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div id="invoice-list-container-@Model.ServiceRequestId">
                    @Html.Action("GetInvoices", "ServiceRequest", new { serviceRequestId = Model.ServiceRequestId })
                </div>
            </div>
        </div>
        }
    </section>
}
else
{
    <section data-hastools="false">
        <span>
            No tools available related to this task
        </span>
    </section>
}
