<div class="row">
    <div class="col-xs-3">
        <div class="btn btn-circle">ZW</div>
    </div>
    <div class="col-xs-3">
        <div class="btn btn-circle">MC</div>
    </div>
    <div class="col-xs-3">
        <div class="btn btn-circle">DM</div>
    </div>
    <div class="col-xs-3">
        <div class="btn btn-circle">DS</div>
    </div>
</div>
