<root>
  <row
    Id="7"
    ObjectGuid="1E3F1212-CC9F-42D8-AE1D-6DCDEEFA826F"
    Name="Accident Benefit"
    Code="AB"
    Price="900.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
  <row
    Id="8"
    ObjectGuid="066296CE-2A6F-46A2-A2FB-F9B8A009E17A"
    Name="Long Term Disability"
    Code="LTD"
    Price="1000.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
  <row
    Id="9"
    ObjectGuid="38D9D51F-5067-4A36-A4DC-CBDE8E8D4602"
    Name="Catastrophic Assessment"
    Code="CAT"
    Price="1200.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
  <row
    Id="11"
    ObjectGuid="64D1C80D-5990-43F8-8FA1-4FFE1F7B8344"
    Name="Plaintiff Medical"
    Code="PM"
    Price="2000.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
  <row
    Id="12"
    ObjectGuid="9CEC9840-5748-456D-9389-236AABDD6AEE"
    Name="Defense Medical"
    Code="DM"
    Price="3000.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
  <row
    Id="13"
    ObjectGuid="7710DAAE-A0D6-42B5-962A-CF87C01D59FA"
    Name="Teleconference"
    Code="TELE"
    Price="100.00"
    ServiceCategoryId="6"
    ServicePortfolioId="2" />
  <row
    Id="14"
    ObjectGuid="09046119-ABBE-4CCB-93E5-CD7E48B112B5"
    Name="Intact File"
    Code="INTC"
    Price="100.00"
    ServiceCategoryId="7"
    ServicePortfolioId="2" />
  <row
    Id="15"
    ObjectGuid="D00D66FB-F54D-4C1F-8D0F-F5B03216AD13"
    Name="TD Bodily Injury File"
    Code="TDBI"
    Price="100.00"
    ServiceCategoryId="7"
    ServicePortfolioId="2" />
  <row
    Id="16"
    ObjectGuid="3BB85306-5B85-496E-A72D-541C95228DBA"
    Name="Paper Review"
    Code="PR"
    Price="200.00"
    ServiceCategoryId="7"
    ServicePortfolioId="2" />
  <row
    Id="17"
    ObjectGuid="2BFDDE91-C5EC-416B-8AF7-F4A7E0B66726"
    Name="Addendum"
    Code="ADD"
    Price="200.00"
    ServiceCategoryId="7"
    ServicePortfolioId="2" />
  <row
    Id="18"
    ObjectGuid="3C23A6E4-765C-4B61-B6F5-FFC9EAFCAE21"
    Name="Intake Assistance"
    Code="I"
    Price="200.00"
    ServiceCategoryId="2"
    ServicePortfolioId="1" />
  <row
    Id="19"
    ObjectGuid="8EC089F5-546D-4386-8AD4-490FBAB823BB"
    Name="Case Coordination"
    Code="CC"
    Price="100.00"
    ServiceCategoryId="1"
    ServicePortfolioId="1" />
  <row
    Id="20"
    ObjectGuid="8A4FCF4B-A5B3-4990-B867-9CD20C5C4064"
    Name="Accident Benefit - Post 104"
    Code="Post-104"
    Price="1200.00"
    ServiceCategoryId="5"
    ServicePortfolioId="2" />
</root>
