@model AvailabilityViewModel
<h2>@Model.MonthName</h2>
@if (!Model.AvailableDays.Any())
{
    <div>No available days</div>
}
@foreach (var day in Model.AvailableDays.OrderBy(c => c.Day))
{
    <div class="row o-dashboard-tr">
        @Html.Partial("../Availability/AvailableDay", day)
    </div>
}

