@using WebApp.Library.Extensions
@using WebApp.ViewModels.CalendarViewModels
@using LinqKit
@using Features = Orvosi.Shared.Enums.Features
@using WebApp.FormModels
@model DaySheetViewModel
@if (Model != null)
{
    <div id="teleconference-list">
        @Html.Partial("~/Views/Teleconference/_ListByDay.cshtml", Model.Teleconferences)
    </div>
    <div style="display:flex; flex-flow:row wrap; justify-content: flex-start;">
        <div style="padding:10px;">
            @foreach (var address in Model.Addresses)
            {
                <div>@address</div>
            }
        </div>
        <div class="text-muted" style="padding:10px;">
            @foreach (var company in Model.Companies)
            {
                <div>@company.ToString()</div>
            }
        </div>
    </div>
    <div id="servicerequest-list">
        @foreach (var serviceRequest in Model.ServiceRequests)
        {
        <div id="servicerequest-container-@serviceRequest.ServiceRequestId">
            @Html.Partial("ServiceRequest/ServiceRequest", serviceRequest)
        </div>
        }
    </div>
}
else
{
    <p></p>
    <p><strong> No assessments today</strong></p>
}

