@model ScheduleViewModel

<div class="panel-group">
    <div class="panel">
        <div class="panel-heading">
            <div style="display:flex;flex-flow:row nowrap;justify-content:flex-start;">
                <div style="width:150px;"><strong>Week</strong></div>
                <div style="width:75px;" class="text-center"><strong>Count</strong></div>
                <div style="width:75px;" class="text-center"><strong>ToDo</strong></div>
                <div style="width:75px;" class="text-center"><strong>Waiting</strong></div>
                <div style="width:75px;" class="text-center"><strong>Hold</strong></div>
            </div>
        </div>
    </div>
    <div id="weeks-container">
        @foreach (var week in Model.WeekSummaries)
        {
        <div class="panel @week.Css">
            <div id="week-header-@week.Id" class="panel-heading" role="tab">
                @Html.Partial("Week/WeekSummary", week)
            </div>
            <section id="week-@week.Id" class="panel-collapse collapse"></section>
        </div>
        }
    </div>
</div>