@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@model WebApp.Views.ServiceRequestMessage.DiscussionViewModel
@{ 
    var features = User.Identity.GetFeatures();
}
@if (features.Contains(Features.ServiceRequest.LiveChat))
{
<div class="divtoscroll" id="service-request-message-container-@Model.ServiceRequestId">
    <div class="divwithscroll" id="service-request-message-scroll-@Model.ServiceRequestId">
        <ul id="service-request-message-list-@Model.ServiceRequestId" class="list-unstyled">
            @foreach (var item in Model.Messages)
            {
                @Html.Partial("~/Views/ServiceRequestMessage/_ServiceRequestMessage.cshtml", item)
            }
        </ul>
    </div>
</div>
}