@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest

<div class="divtoscroll" id="service-request-message-container-@Model.Id">
    <div class="divwithscroll" id="service-request-message-scroll-@Model.Id">
        <ul id="service-request-message-list-@Model.Id" class="list-unstyled">
            @foreach (var item in Model.ServiceRequestMessages)
            {
                    @Html.Partial("~/Views/ServiceRequestMessage/_ServiceRequestMessage.cshtml", item)
            }
        </ul>
    </div>
</div>