@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest
<ul id="service-request-message-list-@Model.Id" class="list-unstyled">
    @foreach (var item in Model.Messages)
    {
        <li id="service-request-message-@item.Id">
            @Html.Partial("_ServiceRequestMessage", item)
        </li>
    }
</ul>
<form id="service-request-message-form-@Model.Id">
    <div class="form-group">
        <textarea class="form-control" rows="1" type="text" id="Message" name="Message" placeholder="Write your message here ..."></textarea>
    </div>
    <input class="btn btn-success" type="button" value="Send" onclick="postMessage(@Model.Id)" />
</form>
