@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest

<div class="divtoscroll">
    <div class="divwithscroll" id="service-request-message-scroll-@Model.Id">
        <ul id="service-request-message-list-@Model.Id" class="list-unstyled">
            @foreach (var item in Model.Messages)
            {
                    @Html.Partial("_ServiceRequestMessage", item)
            }
        </ul>
    </div>
</div>