@using WebApp.Library.Extensions
@model Orvosi.Shared.Model.ServiceRequest
<ul id="service-request-message-list-@Model.Id" class="list-unstyled">
    @foreach (var item in Model.Messages)
    {
        <li id="service-request-message-@item.Id">
            @Html.Partial("_ServiceRequestMessage", item)
        </li>
    }
</ul>
