@model CaseViewModel
<form id="service-request-message-form-@Model.ServiceRequestId">
    <div class="input-group">
        <input class="form-control" type="text" id="Message" name="Message" onkeypress="onPostMessageKeyPress(event, @Model.ServiceRequestId)" placeholder="Write your message here ..."/>
        <span class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="postMessage(@Model.ServiceRequestId)"><i class="fa fa-send"></i></button>
        </span>
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" onclick="refreshDiscussion(@Model.ServiceRequestId)"><i class="fa fa-refresh"></i></button>
        </span>
    </div>
</form>
