<hr />
<div class="row">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail">
            <img src="~/Content/images/ADMIN IMAGE1.jpg" alt="Administration">
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <h1>Administration</h1>
        <div class="lead">Manage less, work more.</div>
        <div>We employ full-time administrators who monitor your emails, bookings, cancellations, and general inquiries.  They coordinate directly with intake associates so that your intake runs smoothly and efficiently.  All you have to do is check your calendar, and show up.</div>
    </div>
</div>
<hr />
<div class="row">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail">
            <img src="~/Content/images/INTAKE IMAGE.jpg" alt="Intake Coordination">
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <h1>Intake Associates</h1>
        <div class="lead">Talk less, examine more.</div>
        <div>We provide you with highly-trained intake associates to assist you with your assessments.  No matter what their background, our assistant have all gone through our training program with Dr. Zeeshan Waseem.  Having an assistant you can rely on and develop a rapport with is our goal.</div>
    </div>

</div>
<hr />
<div class="row">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail">
            <img src="~/Content/images/INVOICE IMAGE.png" alt="Invoicing">
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <h1>Invoicing</h1>
        <div class="lead">Type less, track more.</div>
        <div>IME work can be an invoicing nightmare, and we have a system in place to help you invoice with the tap of a button.  You can track your earnings by company, type of assessment, and more.  Most important, you can easily track who still owes you payment.  You can do all of this in the moment, on your phone.</div>
    </div>
</div>
<hr />
<div class="row">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail">
            <img src="~/Content/images/MED IMAGE.jpg" alt="Medical Consulting">
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <h1>Medical Consulting</h1>
        <div class="lead">Guess less, ask more.</div>
        <div>We want to ensure that physicians who perform IMEs are getting the best rates possible while still allowing the rest of the IME industry to remain competitive.  You will have access to our experienced physician to consult with on any of your IME questions, including rates and negotiations.</div>
    </div>
    
</div>
<hr />
<div class="row">
    <div class="hidden-xs col-sm-2">
        <div class="thumbnail">
            <img src="~/Content/images/CONCIERGE IMAGE.jpg" alt="Concierge">
        </div>
    </div>
    <div class="col-xs-12 col-sm-10">
        <h1>Concierge</h1>
        <div class="lead">Think less, enjoy more.</div>
        <div>We know that if you are completing IMEs you probably a hand in other areas of medicine as well, be it research, OHIP, professorships and other ventures. You are busy and we get it.  We can take care of all the little details so that at least your IME work is comfortable and organized.  From making sure you have lunch delivered, the best seat on the plane, and a comfortable trip in to work, we can take care of it all.  We can even remind you of your anniversary.</div>
    </div>
</div>