<a name="services"></a>
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Administration<br>Manage less, work more</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae dignissim justo, ut lacinia metus. Suspendisse dapibus velit a purus porttitor, ac auctor nunc sagittis. Quisque tristique sapien nec fermentum tincidunt. Duis sit amet leo vulputate quam vulputate fringilla. Sed a varius arcu, id sagittis magna.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/ipad.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-a -->
<div class="content-section-b">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Intake Associates<br>Talk less, examine more</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae dignissim justo, ut lacinia metus. Suspendisse dapibus velit a purus porttitor, ac auctor nunc sagittis. Quisque tristique sapien nec fermentum tincidunt. Duis sit amet leo vulputate quam vulputate fringilla. Sed a varius arcu, id sagittis magna.</p>
            </div>
            <div class="col-lg-5 col-sm-pull-6  col-sm-6">
                <img class="img-responsive" src="~/Content/img/dog.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
<!-- /.content-section-b -->
<div class="content-section-a">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-sm-6">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                <h2 class="section-heading">Invoicing<br>Type less, track more</h2>
                <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae dignissim justo, ut lacinia metus. Suspendisse dapibus velit a purus porttitor, ac auctor nunc sagittis. Quisque tristique sapien nec fermentum tincidunt. Duis sit amet leo vulputate quam vulputate fringilla. Sed a varius arcu, id sagittis magna.</p>
            </div>
            <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                <img class="img-responsive" src="~/Content/img/phones.png" alt="">
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>
