@{
    ViewBag.Title = "About";
}

<div class="container about-header">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content("~/Content/images/logo.png")" alt="Company" />
            <div class="lead">Orvosi Medical Management Company</div>
        </div>
        <div class="col-md-6">
            <h2>Mission Statement</h2>

            <p class="well">
                We are a company established to assist Doctors who perform Independent Medical Exams.
                We utilize the highest quality employees and resources to help our clients ensure the highest quality reports as efficiently as possible.
            </p>
        </div>
    </div>
</div>


<h2>History</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae dignissim justo, ut lacinia metus. Suspendisse dapibus velit a purus porttitor, ac auctor nunc sagittis. Quisque tristique sapien nec fermentum tincidunt. Duis sit amet leo vulputate quam vulputate fringilla. Sed a varius arcu, id sagittis magna. Vestibulum pharetra, justo eu consectetur egestas, augue quam ornare ligula, quis accumsan ex nisl id sapien. Suspendisse quis justo egestas, fermentum dolor mattis, congue dui. Donec arcu neque, hendrerit in orci quis, fermentum cursus nisl. Vivamus eget ornare urna, vitae laoreet augue. Etiam pharetra congue massa eu ullamcorper. Fusce ante metus, porttitor eu metus eget, euismod varius mi. Ut ac maximus arcu. Nulla a tellus et lorem vulputate ultrices. Praesent pellentesque cursus dictum. In hendrerit bibendum nisl, eu dapibus mi placerat non. Pellentesque porttitor egestas augue sed interdum.
</p>
<h2>Company</h2>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vitae dignissim justo, ut lacinia metus. Suspendisse dapibus velit a purus porttitor, ac auctor nunc sagittis. Quisque tristique sapien nec fermentum tincidunt. Duis sit amet leo vulputate quam vulputate fringilla. Sed a varius arcu, id sagittis magna. Vestibulum pharetra, justo eu consectetur egestas, augue quam ornare ligula, quis accumsan ex nisl id sapien. Suspendisse quis justo egestas, fermentum dolor mattis, congue dui. Donec arcu neque, hendrerit in orci quis, fermentum cursus nisl. Vivamus eget ornare urna, vitae laoreet augue. Etiam pharetra congue massa eu ullamcorper. Fusce ante metus, porttitor eu metus eget, euismod varius mi. Ut ac maximus arcu. Nulla a tellus et lorem vulputate ultrices. Praesent pellentesque cursus dictum. In hendrerit bibendum nisl, eu dapibus mi placerat non. Pellentesque porttitor egestas augue sed interdum.
</p>