@{
    ViewBag.Title = "About";
}

<div class="container about-header">
    <div class="row">
        <div class="col-md-6">
            <img src="@Url.Content("~/Content/images/logo.png")" alt="Company" />
            <div class="lead">Orvosi Medical Management Company</div>
        </div>
        <div class="col-md-6">
            <h2>Mission Statement</h2>

            <p class="well">
                We are a company established to assist Doctors who perform Independent Medical Exams.
                We utilize the highest quality employees and resources to help our clients reduce their workload, while increasing their income.
            </p>
        </div>
    </div>
</div>


<h2>History</h2>
<p>
    The company is the brainchild of a spouse of a Physiatrist.
    Watching her partner working every weekend, surrounded by stacks of documents or glued to his computer, leaving the house at 5:30am arriving home after 10pm, and continually fielding requests and emails filled with redundancy and logistical headaches, she intervened and began

    to develop what is currently the Orvosi Medical Management (OMM) system.  OMM

    manages everything from IME bookings, company correspondence, invoicing,

    document management, intake coordination, and overall efficiency of the IME process

    from the Doctor’s perspective. Her partner now enjoys his weekends, is home everyday

    for dinner, if not earlier, and is making more money than he ever has before.
</p>
<p>
    To allow the OMM to be easily applied to any Medical Professional in the IME industry,

    with unique requirements, Anna partnered with Leslie Farago, who has

    spent the last decade, managing the Software Development division at the Population Health Research Institute in Hamilton Ontario.
    
    In that time, he and his team developed a system called ROME that has supported countless global, multi-centred randomized controlled trials, epidemiology studies and registries. 

    Recently, his team developed a referral system for the Ontario Bariatric Network which is currently being used across Ontario.

    He is the guy who, if you can dream it, he can make it happen -- on a computer at least.
</p>
<h2>Company</h2>
<p>
    Since its inception in July 2014, Orvosi medical has dramatically improved the quality of

    life for its clients, while allowing them to increase their profits over 100%.  No more

    working on the weekends -- unless of course you want to!  We work with you to

    maximize your earning potential in the most efficient way possible based on your desired schedule.
</p>
<p>
    Our team of professionals know the IME industry inside and out. We know that as

    Doctors you are the life lines that keep assessment companies in business, lawyers

    winning cases, and insurance companies making (and keeping) their millions.  We work

    with them on your behalf, but we do not work for them. We work for you.  We reduce

    your workload, and increase your income.  It’s that simple.
</p>