@{
    ViewBag.Title = "Contact";
}
<address>
    302-345 Lakeshore Rd. E<br />
    Oakville, Ontario<br />
    L6J 3Z3<br />
    <abbr title="Phone">Phone:</abbr>
    (905) 842-2888<br />
    <abbr title="Fax">Fax:</abbr>
    (905) 842-5316<br />
    <abbr title="Email">Email:</abbr>
    <a href="mailto:ime@orvosi.ca">ime@orvosi.ca</a>
</address>
