@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-xs-12 hidden-xs-block">
        <img src="@Url.Content("~/Content/images/sm-Orvosi-Gradient-Colour.png")" alt="logo" class="center-block" />
    </div>
    <div class="col-xs-12 visible-xs-block">
        <img src="@Url.Content("~/Content/images/xs-Orvosi-Gradient-Colour.png")" alt="logo" class="center-block" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li><a href="@Url.Content("~/Home/Index1")">Home Page Version 1 (little text with Registration Form)</a></li>
            <li><a href="@Url.Content("~/Home/Index2")">Home Page Version 2 (more text with link to Registration Form)</a></li>
        </ul>
    </div>
</div>