@using Microsoft.AspNet.Identity
@{
    Layout = "";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Orvosi Medical</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="landing-body">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 well well-lg" style="background-color: white;">
                <div class="row">
                    <div class="col-md-12">
                        <div class="image-logo-lg center-block"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="list-inline">
                        <li>
                            <a href="~/Account/Login" class="btn btn-default btn-lg">Login</a>
                        </li>
                        <li>
                            <a href="~/Account/Register" class="btn btn-success btn-lg">Register</a>
                        </li>
                        <li>
                            <a class="btn btn-default btn-lg" data-toggle="collapse" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row collapse" id="contact">
                <div class="col-md-12 text-center">
                    <address>
                        302-345 Lakeshore Rd. E<br />
                        Oakville, Ontario<br />
                        L6J 3Z3<br />
                        <abbr title="Phone">Phone:</abbr>
                        (905) 842-2888<br />
                        <abbr title="Fax">Fax:</abbr>
                        (905) 842-5316<br />
                        <abbr title="Email">Email:</abbr>
                        <a href="mailto:ime@orvosi.ca">ime@orvosi.ca</a>
                    </address>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
