@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <img src="@Url.Content("~/Content/images/logo-inverse.png")" alt="logo" class="center-block hidden-xs" />
        <img src="@Url.Content("~/Content/images/xs-logo-inverse.png")" alt="logo" class="center-block visible-xs-block" />
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul>
            <li><a href="@Url.Content("~/Home/Index1")">Home Page Version 1 (little text with Registration Form)</a></li>
            <li><a href="@Url.Content("~/Home/Index2")">Home Page Version 2 (more text with link to Registration Form)</a></li>
        </ul>
    </div>
</div>