@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <div class="row">
        <div class="col-md-12">
            <img src="@Url.Content("~/Content/images/sm-Orvosi-Solid-White.png")" alt="logo" class="center-block hidden-xs" />
            <img src="@Url.Content("~/Content/images/xs-Orvosi-Solid-White.png")" alt="logo" class="center-block visible-xs-block" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h1>Started by doctors to service doctors</h1>
            <p class="lead">
                We can make IME work for you. Learn how we can help increase your earnings and decrease your workload.
            </p>
            <p class="h3">Register now to see how it works &raquo;</p>
        </div>
        <div class="col-md-4">
            @Html.Partial("_RegisterPartial")
        </div>
    </div>
</div>

@if (HttpContext.Current.User.IsInRole("Admin"))
{
    @Html.Partial("_ServiceOverview2")   
}