<h3>Release 1.0.0-alpha.1</h3>
<em>2015-05-31</em>
<p>This is the first release of the application. It includes the following features and known issues.</p>
<ul>
    <li>Home page where anonymous users are encouraged to register. Links to the About and Contact pages are active.</li>
    <li>Registration page that takes Email and Password from the user only. This is a basic registration to allow a user to view more information about the services we provide. Registration requires them to confirm via an email that will be sent to them. This activation is resent if the user tries to login before activating.</li>
    <li>LogIn page where existing users can log in to the website. Authenticated users will be able to see a list of services on the Home page and a top level link to the Services page.</li>
    <li>Forgot Password is functional.</li>
    <li>The About page was created based off the mission statement document.</li>
    <li>SendGrid is being used to send out email notifications. This allows for 25000 emails per month for free.</li>
    <li>Initial and subsequent check-ins have been committed to the GitHub repository. To access this, you will need to create an account with <a href="http://www.github.com">http://www.github.com</a>. Once registered, I can add you as a contributor to the project.</li>
</ul>
