@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta charset="utf-8" />
    <!-- This is to make sure your relative image links show up nicely. -->
    <title>Orvosi - Test Helper</title>
    <!-- Here is where the custom style sheet is inserted as well as highlight.js setup code. -->
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container">
        <!-- This is where the rendered html from your document is placed -->
        <h1>ORVOSI - Test Helper</h1>
        <p>This page lists out user accounts setup for testing purposes. All passwords for test user accounts are <strong>P@ssword1</strong></p>
        <h3>Company User Accounts</h3>
        <ul>
            <li><em>admin@dime.com</em> is a company administrator at Direct IME</li>
            <li><em>admin@ima.com</em> is a company administrator at IMA</li>
            <li><em>admin@soma.com</em> is a company administrator at SOMA</li>
        </ul>
        <h3>Doctors</h3>
        <p>These are the accounts that will display in the Special Request dropdown list. It should always be in sync with the doctors in Schedule Once.</p>
        <ul>
            <li><em>zwaseem@orvosi.ca</em> is Dr. Zeeshan Waseem</li>
            <li><em>jfennell@orvosi.ca</em> is Dr. Jeremy Fennell</li>
            <li><em>sdessouki@orvosi.ca</em> is Dr. Shariff Dessouki</li>
            <li><em>rgandhi@orvosi.ca</em> is Dr. Rajiv Gandhi</li>
        </ul>
        <h3>Service Catalogues</h3>
        <p>All doctors provide AB, Long Term Disability, Catastrophic Assessment, Medical Legal, and Teleconference</p>
        <h3>Admin Account</h3>
        <ul>
            <li><em>lfarago@orvosi.ca</em> is the system adminstrator account</li>
        </ul>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>