<html>
<body>
    <h1>Welcome to Orvosi</h1>
    <p>
        Your account has been created. To confirm that everything was setup correctly.
        Please note that access to Orvosi Apps is confidential and your credentials are not to be shared.
    </p>
    <p>
        Please verify your email address by clicking the link below. For security, you will be asked to reset your password
    </p>
    <p>
        %URL%
    </p>
    <p>
        If you continue to have issues, you can reply to this email and we will try to help.
    </p>
    <p>
        Regards,<br />
        Orvosi Support
    </p>
    <img src="%logo%"/>
</body>
</html>

