<html>
<body>
    <h2>Orvosi - Password Reset</h2>
    <p>
        A request has been made to reset your password. 
        Please note that access to Orvosi Apps is confidential and your credentials are not to be shared.
    </p>
    <p>
        Please click the link below to reset your password.
    </p>
    <p>
        %URL%
    </p>
    <p>
        If you continue to have issues, you can reply to this email and we will try to help.
    </p>
    <p>
        Regards,<br />
        Orvosi Support
    </p>
    <img src="%logo%"/>
</body>
</html>

