@model string
@{
    Layout = "~/Views/Shared/NotificationTemplates/_Layout.cshtml";
}
<p>
    This is a test email with a link:
</p>
<p style="white-space: pre-line;">
    <a href="@Model">Google Search</a>
</p>
<p>
    Thank you!
</p>
<p>
    Regards,<br />
    Orvosi Team
</p>