@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ExamWorks Dashboard</h2>
<hr />


<div class="row">
    <div class="col-md-12 col-sm-12">
        <a href="~/Appointment/Book" class="btn btn-lg btn-primary">Book an Appointment</a>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="h2">Appointments</div>
        <p>
            Some graphs and links here
        </p>
        <a href="~/Appointment" class="btn btn-primary btn-sm">View All</a>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="h2">Files</div>
        <div>
            Some graphs and links here
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="h2">Accounts</div>
        <div>
            Some graphs and links here
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="h2">Physicians</div>
        <div>
            Some graphs and links here
        </div>
    </div>
</div>



