@using Features = Orvosi.Shared.Enums.Features;
@model ListViewModel

<div class="list-group">
    @if (Model.AsOwner.Any())
    {
        <h4 class="text-muted">OWNER</h4>
        foreach (var physician in Model.AsOwner)
        {
            <div class="list-group-item">
                <a target="_blank" href="~/Account/ChangeUserContextAsync/?physicianId=@physician.Id"><span class="small">@physician.Name</span></a>
            </div>
        }
    }
    @if (Model.AsManager.Any())
    {
        <h4 class="text-muted">MANAGER</h4>
        foreach (var physician in Model.AsManager)
        {
            <div class="list-group-item">
                <a target="_blank" href="~/Account/ChangeUserContextAsync/?physicianId=@physician.Id"><span class="small">@physician.Name</span></a>
            </div>
        }
    }
    @if (Model.AsTeamMember.Any())
    {
        <h2 class="text-muted">TEAM MEMBER</h2>
        foreach (var physician in Model.AsTeamMember)
        {
            <div class="list-group-item">
                <a target="_blank" href="~/Account/ChangeUserContextAsync/?physicianId=@physician.Id"><span class="small">@physician.Name</span></a>
            </div>
        }
    }
</div>