@model PhysicianInviteViewModel

<div>
    @Model.FromName has invited you to be the <strong>"Owner"</strong> of @Model.PhysicianName  <a onclick="showAcceptOwnershipForm('@Model.Id')" class="btn btn-primary">Accept</a>
</div>
