<h2>Terms and Conditions</h2>
<p>
    alsjdflka djflkads jflkads jlfkjsad lkfjsadlk fjsalkd fjlkdsaf jlksajd lfja lfda
</p>
<p>
    By click the Accept button, you agree to the above Terms and Conditions.
</p>
