@using WebApp.Library.Extensions
@model WebApp.ViewModels.WorkViewModels.Assessment
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="assessment-discussion-title">@Model.ClaimantName (@Model.Id)</h4>
        </div>
        <div class="modal-body">
            <ul id="discussion">
                <li>
                    COMING SOON! Live chat with other team members
                </li>
            </ul>
        </div>
        <div class="modal-footer">
            <form>
                <input type="hidden" name="UserId" value="@User.Identity.GetGuidUserId()" />
                <input type="hidden" name="ServiceRequestId" value="@Model.Id" />
                <div class="form-group">
                    <textarea class="form-control" rows="3" type="text" id="message" name="Message" placeholder="Write your message here ..."></textarea>
                </div>
                <input class="btn btn-success" type="button" id="sendmessage" value="Send" />
            </form>
        </div>
    </div>
</div>