@using Orvosi.Shared.Enums
@model Orvosi.Shared.Model.ServiceRequest

<span id="service-status-@Model.Id">
    @if (Model.ServiceStatusId == ServiceStatus.NoShow)
    {
        <span class="label label-danger"><strong>No Show</strong></span>
    }
    else if (Model.ServiceStatusId == ServiceStatus.Cancellation)
    {
        <span class="label label-warning"><strong>Cancellation</strong></span>
    }
    else if (Model.ServiceStatusId == ServiceStatus.LateCancellation)
    {
        <span class="label bg-danger" style="color: black;"><strong>Late Cancellation</strong></span>
    }
</span>