<div class="ml-10 flex items-baseline space-x-4">
    <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
    <NavLink href="/" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-white" Match="NavLinkMatch.All">
        Dashboard
    </NavLink>

    <NavLink href="/invoices" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-white" Match="NavLinkMatch.Prefix">
        Invoices
    </NavLink>

</div>