@using Fargs.Web.Models;

@model IEnumerable<Post>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Blog</h2>

<h3>Posts</h3>
<div>
    <ul>
        @foreach (var item in @Model)
        {
            var url = System.IO.Path.Combine(Url.Content("~/blog/post/"), item.Name);
            <li><a href="@url">@item.Title</a></li>
        }
    </ul>
</div>
