@using Features = ImeHub.Models.Enums.Features.PhysicianPortal
@model ListViewModel


@functions{
    string IsActive(Guid? selectedWorkflowId, Guid workflowId)
    {
        return selectedWorkflowId.HasValue && selectedWorkflowId.Value == workflowId ? "active" : string.Empty;
    }
}
<div style="margin-bottom: 15px;">
    @if (Model.AuthorizedFeatures.Contains(Features.Workflows.Manage))
    {
        <button class="btn btn-success" onclick="showNewWorkflowForm()">New Workflow</button>
    }
</div>
<div class="list-group">
    @foreach (var workflow in Model.Workflows)
    {
        <a style="cursor:pointer;" onclick="navigateToWorkflow('@workflow.Id')" class="list-group-item @IsActive(Model.SelectedWorkflowId, workflow.Id)">@workflow.Name</a>
    }
</div>