@model ReadOnlyViewModel

<div style="margin-left:20px;">
    <div id="workflow-readonly-properties-container">
        @Model.Name
    </div>
</div>
<div style="margin-left:20px;">
    <div id="workflow-readonly-workitems-container">
        <button class="btn btn-success" onclick="showNewWorkItemForm('@Model.WorkflowId')">New Work Item</button>
        @foreach (var wi in Model.WorkItems)
        {
            <div>
                @wi.Name
            </div>
        }
    </div>
</div>
<div style="margin-left:20px;">
    <div id="workflow-readonly-dependencies-container">
        
    </div>
</div>