@model Orvosi.Shared.Model.Person

@if (!Model.Id.HasValue)
{
    <span title="Unassigned"
          class="btn btn-sm btn-circle btn-circle-groupitem"
          style="margin-right: 2px; color: red; border-color: red; cursor: default;">
        <span class="small">?</span>
    </span>
}
else
{
    <span title="@(Model.DisplayName + " - " + Model.Role.Name)"
          class="btn btn-sm btn-circle btn-circle-groupitem"
          style="margin-right: 2px; color: white; background-color: @(Model.ColorCode);">
        <span class="small">@Model.Initials</span>
    </span>
}