@using WebApp.Library.Extensions
@model DateTime
<div>
    <span class="glyphicon glyphicon-ok" style="font-size: 100%"></span>
    <strong class="text-success">@Model.ToOrvosiDateFormat()</strong>
</div>
