<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://use.fontawesome.com/3877822095.js"></script>
    @Styles.Render("~/Bundles/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("head", required: false)
</head>
<body>
    <div>
        @RenderBody()
    </div>
    @*<button onclick="printInvoice()">Print this page</button>
    <script>
        function printInvoice() {
            window.print();
        }
    </script>*@
</body>
</html>
