@using WebApp.Views.Cancellation
@model CancellationViewModel
@if (Model.IsNoShow)
{
    <span class="label label-danger">No Show</span>
}
else if (Model.IsLateCancellation)
{
    <span class="label label-warning">Late Cancel</span>
}
else if (Model.CancelledDate.HasValue)
{
    <span class="label label-info">Cancelled</span>
}
