@using Orvosi.Shared.Enums
@model Orvosi.Shared.Model.ServiceRequestTask

@if (Model.Status.Id == TaskStatuses.ToDo)
{
    <span id='task-statuslabel-@Model.Id' class='label label-danger'>To Do</span>
}
else if (Model.Status.Id == TaskStatuses.Waiting)
{
    <span id='task-statuslabel-@Model.Id' class='label label-warning'>Waiting</span>
}
else if (Model.Status.Id == TaskStatuses.Done)
{
    <i id='task-statuslabel-@Model.Id' class='fa fa-check fa-lg' style="color: green;"></i>
}
else if (Model.Status.Id == TaskStatuses.Obsolete)
{
    <span id='task-statuslabel-@Model.Id' class='label label-info'>Obsolete</span>
}