@using e = Orvosi.Shared.Enums
@model int
<div class="btn-group btn-group-xs">
    <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <i class="glyphicon glyphicon-plus"></i>
    </button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li>
            <a href="#" onclick="addTask(@Model, @e.Tasks.AdditionalEdits)">Additional Doc Edits</a>
            <a href="#" onclick="addTask(@Model, @e.Tasks.RespondToQAComments)">Respond to QA Comments</a>
            <a href="#" onclick="addTask(@Model, @e.Tasks.PaymentReceived)">Payment Received - Hawkeswood Only</a>
        </li>
    </ul>
</div>
