@using e = Orvosi.Shared.Enums
@using Features = Orvosi.Shared.Enums.Features
@using WebApp.Library.Extensions
@model int?

@{
    var features = User.Identity.GetFeatures();
}
@if (features.Contains(Features.ServiceRequest.AddTask))
{
    <div class="btn-group btn-group-xs">
        <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="glyphicon glyphicon-plus"></i> 
        </button>
        <ul class="dropdown-menu">
            <li>
                <a onclick="addTask(@Model, @e.Tasks.AdditionalEdits)">Additional Doc Edits</a>
                <a onclick="addTask(@Model, @e.Tasks.RespondToQAComments)">Respond to QA Comments</a>
                <a onclick="addTask(@Model, @e.Tasks.PaymentReceived)">Payment Received - Hawkeswood Only</a>
            </li>
        </ul>
    </div>
}
