<div class="page-header">

    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm"><i class="fa fa-question-circle page-header-icon"></i>&nbsp;&nbsp;Not authorized</h1>

    </div>
</div> <!-- / .page-header -->
<section>
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span>Not authorized</span>
            </div>
            <div class="panel-body">
                <div class="col-md-12">
                        <p>This page is not accessible to you.</p>
                    <p>
                        If you require access to this page please contact the <a href="mailto:support@orvosi.ca">support@orvosi.ca.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>