@using Google.Apis.Calendar.v3
@model Google.Apis.Calendar.v3.Data.Events
@if (Model.Items.Count > 0)
            {
                foreach (var eventItem in Model.Items)
                {
                    string when = eventItem.Start.DateTimeRaw.ToString();
                    if (String.IsNullOrEmpty(when))
                    {
                        when = eventItem.Start.Date;
                    }
                    <div>@(eventItem.Summary + ' ' + when)</div>
    }
}
else
{
    <div>No upcoming events found.</div>
}
