@model Fargs.Web.Models.Portfolio

@{
    ViewBag.Title = "EpidemiologyStudies";
}

<div class="container">

    <h2>Epidemiology Studies</h2>

    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/Portfolio/Index")">Portfolio</a><span class="divider">/</span></li>
        <li class="active">Epidemiology Studies</li>
    </ul>

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">PURE</h5>
                <p>PURE is a prospective urban vs rural epidemiology study.</p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">KERALA HEALTH OBSERVATORY</h5>
                <p>
                    Kerala is a large community based study in the state
    of Kerala India. It is tracking
                                mordity and mortality data across 1 million people in
    the state.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">SAHARA</h5>
                <p>
                    SAHARA is a study to determine risk factors for heart
    disease in South Asian populations.
                </p>
            </div>
        </li>
    </ul>
</div>
