@model Fargs.Web.Models.Portfolio

@{
    ViewBag.Title = "Index";
}

<div class="container">

    <h2>Studies</h2>

    <h2 class="lead muted">Some influential studies that greatly impacted my skills to support
        clinical research.</h2>


    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/RandomizedControlledTrials">
                    <img src="http://placehold.it/300x200" alt="" />
                    <h5 class="muted">Randomized Controlled Trials</h5>
                </a>
                <p>
                    Learn about the phase 3 and phase 4 trials I have contributed to.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/EpidemiologyStudies">
                    <img src="http://placehold.it/300x200" alt="" />
                    <h5 class="muted">Epidemiology</h5>
                </a>
                <p>
                    Learn about the epidemiology research I have been apart of.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/Registries">
                    <img src="http://placehold.it/300x200" alt="" />
                    <h5 class="muted">Registries</h5>
                </a>
                <p>
                    Learn about the registries I have contributed to.
                </p>
            </div>
        </li>
    </ul>

    <h2>Software</h2>

    <h2 class="lead muted">Some important software systems that I have developed or contributed
        to</h2>

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/ClinicalTrialManagementSystems">
                    <img src="http://placehold.it/300x200" alt="" style="border: 1px solid gainsboro"/>
                    <h5 class="muted">Clinical Trial Management Systems</h5>
                </a>
                <p>
                    Learn about the custom system developed to support the operation of phase 3 and
                    phase 4 trials including randomization, resupply, and IP Logistics.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/LabManagementSystems">
                    <img src="http://placehold.it/300x200" alt="" />
                    <h5 class="muted">Lab Management Systems</h5>
                </a>
                <p>
                    Learn about the Lab Management System built for the CRCTL in Hamilton ON. One of
                    the largest bio-labs in the province.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <a href="~/Portfolio/HolterLabSystems">
                    <img src="http://placehold.it/300x200" alt="" />
                    <h5 class="muted">Holter Lab Systems</h5>
                </a>
                <p>
                    Learn about the custom software systems I have developed or contributed to.
                </p>
            </div>
        </li>
    </ul>
</div>
