@model Fargs.Web.Models.Portfolio

@{
    ViewBag.Title = "RandomizedControlledTrials";
}

<div class="container">

    <h2>Randomized Controlled Trials</h2>

    <ul class="breadcrumb">
        <li><a href="@Url.Content("~/Portfolio/Index")">Portfolio</a><span class="divider">/</span></li>
        <li class="active">Randomized Controlled Trials</li>
    </ul>

    <ul class="thumbnails">
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">RE-LY</h5>
                <p>
                    The RE-LY study proved the efficacy of the drug Dabigitran.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">AVERROES</h5>
                <p>
                    Averroes is a study to determine the efficacy of a new drug called Apixaban.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">COMPASS</h5>
                <p>
                    The COMPASS study is going to rivaroxaban and aspirin.
                </p>
            </div>
        </li>
        <li class="span4">
            <div class="thumbnail">
                <img src="http://placehold.it/300x200" alt="" />
                <h5 class="muted">MANAGE</h5>
                <p>
                    The MANAGE trial is a study to determine the efficacy of some other drug.
                </p>
            </div>
        </li>
    </ul>
</div>
