@using WebApp.FormModels
@using WebApp.Library
@using Orvosi.Data
@model ChangeAddressForm

@{
    var viewDataService = DependencyResolver.Current.GetService<ViewDataService>();
    var companies = viewDataService.GetPhysicianAddressSelectList(Model.PhysicianId);
}
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title">
        Address
    </h4>
</div>
<div class="modal-body">
    <form id="address-form">
        @Html.Hidden("ServiceRequestId", Model.ServiceRequestId)
        <div class="form-group">
            <label class="control-label">Address</label>
            @Html.DropDownList("AddressId", new SelectList(companies, "Value", "Text", "Group.Name", Model.AddressId), string.Empty, new { @class = "form-control" })
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" data-dismiss="modal">Close</button>
    <button class="btn btn-success" onclick="saveAddress($('#address-form'), false)">Save</button>
</div>