@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>fargs.ca</h2>
<p>
    Hello World!
</p>
<p>
    This is my personal website that is being deployed to windows azure from my github
    repo.
</p>
<ul>
    <li>
        <a href="blog">Blog</a></li>
</ul>
