@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Les Farago</h1>
<div class="row">
    <span class="span12">This is my personal website that is being deployed to windows azure
        from my github repo.
    </span>

</div>
