@using Features = Orvosi.Shared.Enums.Features
@using WebApp.Library.Extensions
@{
    var features = User.Identity.GetFeatures();
}

@if (features.Contains(Features.ServiceRequest_Google.CreateEvent))
{
    <button onclick="addGoogleCalendarEvent()" class="btn btn-primary">Add Event to Google Calendar</button>
}

