@using WebApp.Library
@using Orvosi.Data
@model WebApp.ViewModels.ServiceRequestViewModels.ChangeProcessTemplateViewModel

@{ 
    var ctx = DependencyResolver.Current.GetService<OrvosiDbContext>();
    var processTemplateSelectList = ctx.PhysicianServiceRequestTemplates
        .Where(p => p.PhysicianId == Model.PhysicianId)
        .Select(t => new SelectListItem
        {
            Text = t.ServiceRequestTemplate.Name,
            Value = t.ServiceRequestTemplate.Id.ToString()
        }).ToList();

    processTemplateSelectList = ctx.ServiceRequestTemplates
        .Where(srt => srt.PhysicianId == Model.PhysicianId)
        .Select(t => new SelectListItem
        {
            Text = t.Name,
            Value = t.Id.ToString()
        }).ToList();

    ViewBag.ProcessTemplateSelectList = processTemplateSelectList.OrderBy(t => t.Text);
}

<h2>Service Request @Model.ServiceRequestId</h2>
<form action="~/ServiceRequest/ChangeProcessTemplate" method="post">
    @Html.HiddenFor(model => model.ServiceRequestId)
    <p>
        @if (Model.CurrentServiceRequestTemplate != null)
        {
            <span>@Model.CurrentServiceRequestTemplate.Text</span>
        }
    </p>
    <div class="form-group">
        <label class="control-label">New Process Template</label>
        @Html.DropDownList("NewServiceRequestTemplateId", new SelectList(ViewBag.ProcessTemplateSelectList, "Value", "Text", null, Model.NewServiceRequestTemplateId), "-- Process Templates --", new { @class = "form-control" })
    </div>
    <div class="alert alert-sm alert-danger">
        <i class="fa fa-exclamation"></i> <strong>This will permanently delete all existing tasks, including completed tasks.</strong>
        <div class="form-group">
            <button type="submit" class="btn btn-danger">Save</button>
        </div>
    </div>
</form>
