@using WebApp.Library.Extensions
@model DueDateViewModel
@{
    var roleId = User.Identity.GetRoleId();
    var userId = User.Identity.GetGuidUserId();
    var physicianId = User.Identity.GetUserContext().Id;
    var features = User.Identity.GetFeatures();
}
@if (Model != null)
{
    foreach (var item in Model.TaskListArgs)
    {
        <div style="padding-left:20px;">
            <h4>
                @Html.Action("CaseLink", "ServiceRequest", item.ViewTarget)
            </h4>
        </div>
        @Html.Action("TaskList", "ServiceRequestTask", item);
    }
}
else
{
    <p></p>
    <p><strong> No assessments today</strong></p>
}
