@model int
<div class="panel panel-default">
    <div class="panel-heading">
        Create Invoice
    </div>
    <div class="panel-body">
        <div style="display:flex;">
            <button type="submit" class="btn btn-primary" onclick="onCreateInvoiceForServiceRequest(@Model)">Create Invoice</button>
        </div>
    </div>
</div>
