@model LookupViewModel<Guid>

@{
    var viewTarget = ViewData.ViewTarget_Get();
}

<span class="btn btn-circle" style="color: white; background-color: @Model.ColorCode">@Model.Code </span>

@if (viewTarget != ViewTarget.Modal)
{
    @Model.Name
}