@model WebApp.Areas.Admin.ViewModels.Role.IndexViewModel

<h2>Roles</h2>

<form data-bind="submit: Insert">
    <div class="form-group">
        <label for="newName">Name</label>
        <input type="text" class="form-control" id="newName" data-bind="value: newName" />
    </div>
    <button type="submit" class="btn btn-default">Add</button>
</form>

<div style="padding-top: 20px;">
    <table class="table table-condensed table-bordered table-editable">
        <thead>
            <tr>
                <th class="col-sm-1"></th>
                <th>Role</th>
                <th>Users</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: Roles">
            <tr>
                <td style="text-align: center; vertical-align: middle;">
                    <ul class="nav nav-pills nav-condensed">
                        <li role="presentation" class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-expanded="false">
                                <i class="glyphicon glyphicon-menu-hamburger"></i>
                            </a>
                            <ul class="dropdown-menu nav-uncondensed" role="menu">
                                <li role="presentation"><a data-bind="attr: {href: UserUrl}">Users</a></li>
                                <li role="presentation"><a href="#">Edit</a></li>
                                <li role="presentation"><a data-bind="click: $parent.Remove">Remove</a></li>
                            </ul>
                        </li>
                    </ul>
                </td>
                <td style="vertical-align: middle">
                    <span>
                        <input type="text" data-bind="textInput: Name, hasfocus: hasFocus" />
                    </span>
                </td>
                <td style="text-align: center; vertical-align: middle;">
                    <span data-bind="text: UserCount"></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>
@section Scripts{

    @Scripts.Render("~/bundles/knockout")

    @Html.Partial("Index_js", Model)

}