@{
    ViewBag.Title = "Forgot Password Confirmation";
}


<p>
    Please check your email for a link to reset your password.
</p>
<p>
    You can close this page.
</p>

@section footer {
    <div class="col-md-6">
        <a href="~/Account/Login"><small>Login</small></a>
    </div>
    <div class="col-md-6 text-right">
        <a href="~/Account/Help#ForgotPasswordConfirmation"><small>Need Help?</small></a>
    </div>
}

