@model WebApp.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forgot your password?";
}

@section instructions
{
<span>Forgot your password?</span>
}

<form method="post" action="~/Account/ForgotPassword" role="form">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label for="Email" class="control-label">Email</label>
        <input type="text" class="form-control" name="Email" id="Email" />
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
@section footer 
{
    <div class="col-md-6">
        <a href="~/Account/Login"><small>Login</small></a>
    </div>
}
        
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
