@{
    ViewBag.Title = "Reset password confirmation";
}

<p class="alert alert-success">
    Your password has been reset.
</p>
<p>
    Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
</p>

@section footer {
<div class="col-md-6 col-md-offset-6 text-right">
    <a href="~/Account/Help#ResetPasswordConfirmation"><small>Need Help?</small></a>
</div>
}
