<div class="ml-10 flex items-baseline space-x-4">
    <NavLink href="/invoices" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-white" Match="NavLinkMatch.Prefix">
        Money In
    </NavLink>
    <NavLink href="/moneyout/bills" class="text-gray-300 px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700 hover:text-white" Match="NavLinkMatch.Prefix">
        Money Out
    </NavLink>
</div>