@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@model ActionMenuViewModel

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
    var features = identity.GetFeatures();
}
<a class="btn btn-default" target="_blank" href="@Model.BoxCaseFolderURL"><i class="fa fa-folder-open-o fa-lg"></i> Case Folder</a>
@if (features.Contains(Features.ServiceRequest.ToggleNoShow))
{
    if (Model.CanBeNoShow)
    {
        if (Model.IsNoShow)
        {
            <button type="button" onclick="noShow(@Model.ServiceRequestId , false)" class="btn btn-default btn-danger" style="border:0;"><i class="fa fa-check-square-o"></i> No Show</button>
        }
        else
        {
            <button type="button" onclick="noShow(@Model.ServiceRequestId , true)" class="btn btn-default" style="border:0;"><i class="fa fa-square-o"></i> No Show</button>
        }
    }
}



