@model WebApp.ViewModels.CalendarViewModels.DayViewModel

<section>
    @if (Model == null)
    {
        <div>
            Nothing schedule.
        </div>
    }
    else
    {
        <div style="padding-top:10px;">
            <strong>@Model.Day.ToOrvosiDateFormat()</strong>
        </div>
        <div style="display:flex; flex-wrap:nowrap; flex-direction:row; align-content:center; align-self:stretch;">
            <div style="padding-top:5px; padding-bottom:5px">
                @foreach (var address in Model.Addresses)
                {
                    <div>@address</div>
                }
            </div>
        </div>
        foreach (var request in Model.CaseLinks)
        {
            <div>
                @Html.Partial("AssessmentCollapsed", request)
            </div>
        }
    }
</section>