@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

@section Heading {
    Confirmation email has been sent
}
<p class="mx-auto text-center">Please check your email to reset your password</p>
