@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}

@section Heading {
    Password reset completed
}
<p class="mx-auto text-center">
    <a asp-page="./Login" class="font-medium text-indigo-600 hover:text-indigo-500">Click here to sign in</a>
</p>
