@using Features = Orvosi.Shared.Enums.Features
@using WebApp.Models

@model IEnumerable<AvailableDayResourceViewModel>

<table>
    @foreach (var resource in Model)
    {
        <tr>
            <td width="20px">@Html.Partial("../Availability/_ResourceActionMenu", resource)</td>
            <td width="50px">@Html.Partial("Initials", resource.Person)</td>
            <td><div>@resource.Person.Name</div></td>
        </tr>
    }
</table>

