@model AddSlotsFormModel
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <div class="modal-title">
        <h4>Add Slots</h4>
    </div>
</div>
<div class="modal-body">
    <div class="alert alert-sm alert-info">
        <strong>Tip:</strong><br />
        Add all slots for the day and then delete a slot for lunch
    </div>
    <form id="availability-addslots-form">
        @Html.Hidden("AvailableDayId", Model.AvailableDayId)
        <div class="bootstrap-timepicker">
            <div class="form-group">
                <label>With a duration of </label>
                <select name="Duration">
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                    <option value="60" selected>1h</option>
                    <option value="75">1h15</option>
                    <option value="90">1h30</option>
                    <option value="105">1h45</option>
                    <option value="120">2h</option>
                </select>
            </div>
            <div class="form-group">
                <label> repeat </label>
                <select name="Repeat">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10</option>
                </select>
            </div>
            <div class="form-group">
                <label> starting at </label>
                <select name="StartHour">
                    <option value="7">7h</option>
                    <option value="8" selected>8h</option>
                    <option value="9">9h</option>
                    <option value="10">10h</option>
                    <option value="11">11h</option>
                    <option value="12">12h</option>
                    <option value="13">13h</option>
                    <option value="14">14h</option>
                    <option value="15">15h</option>
                    <option value="16">16h</option>
                    <option value="17">17h</option>
                    <option value="18">18h</option>
                    <option value="19">19h</option>
                    <option value="20">20h</option>
                    <option value="21">21h</option>
                </select>
                <select name="StartMinute">
                    <option value="00">00</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="45">45</option>
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-success" onclick="saveAddSlotsForm($('#availability-addslots-form'))">Save</button>
</div>
