@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section>
    <ul>
        <li>
            <a href="~/Admin/Role">Roles</a>
        </li>
        <li>
            <a href="~/Admin/User">Users</a>
        </li>
    </ul>
</section>
