@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@model CaseViewModel

@if (Model != null && Model.Tasks.Any(srt => srt.TaskId == Tasks.SubmitInvoice && srt.StatusId == TaskStatuses.Done))
{
    <small class="help-block">
        <span>Submit Invoice task checked on </span> @Model.Tasks.Single(srt => srt.TaskId == Tasks.SubmitInvoice).TaskStatusChangedDate.ToOrvosiDateTimeFormat()
    </small>
}

