@using System.Linq
@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@model Orvosi.Data.Invoice

@{
    Layout = "~/Views/Accounting/_Layout.cshtml";

    var roleId = User.Identity.GetRoleId();
}

<div class="row">
    <div class="col-md-4">
        <form id="new-invoice-form">
            <div class="form-group">
                <label class="control-label">Service Provider</label>
                @Html.DropDownList("ServiceProviderGuid", new SelectList(ViewBag.UserSelectList, "Value", "Text", "Group.Name", Model.ServiceProviderGuid), "-- Service Provider --", new { @class = "form-control", onchange = "refreshInvoicePreview();" })
            </div>
            <div class="form-group">
                <label class="control-label">Customer</label>
                @Html.DropDownList("CustomerGuid", new SelectList(ViewBag.CustomerSelectList, "Value", "Text", "Group.Name", Model.CustomerGuid), "-- Customer --", new { @class = "form-control", onchange = "refreshInvoicePreview();" })
            </div>
            <div class="form-group">
                <label class="control-label">Invoice Date</label>
                <div class="input-group date" style="width:100%" id="InvoiceDatePicker">
                    @Html.TextBox("InvoiceDate", Model.InvoiceDate.ToOrvosiDateFormat(), new { @class = "form-control", onblur = "refreshInvoicePreview();" })
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <fieldset>
                <div class="form-group">
                    <label class="control-label">Description</label>
                    <textarea id="Description" name="Description" rows="2" class="form-control"></textarea>
                </div>
                <div class="form-group">
                    <label class="control-label">Amount</label>
                    <input type="text" id="Amount" name="Amount" class="form-control"/>
                </div>
                <div class="form-group">
                    <button class="btn btn-default">Add Item</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-md-8">
        <div id="invoice-preview-container"></div>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        function addInvoiceDetail() {

        }

        function refreshInvoicePreview() {
            @*var form = $('#new-invoice-form');
            $.ajax({
                type: "GET",
                url: '@Url.Content("~/Accounting/RefreshInvoicePreview")',
                data: form.serialize(),
                contentType: "text/html",
                success: function (result) {
                    var container = $('#invoice-preview-container');
                    container.html(result);
                },
                error: function (err) {
                    // undo the UI change made before the ajax call
                    window.location.reload();
                }
            }, this);*@
        }
        $(function () {

            $('#InvoiceDatePicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });

        });
    </script>
}
