@using System.Linq
@using Orvosi.Data
@using Orvosi.Shared.Enums
@using WebApp.Library.Extensions
@using WebApp.Library
@model Orvosi.Data.Invoice

@{
    Layout = "~/Views/Accounting/_Layout.cshtml";
    var userContext = User.Identity.GetUserContext();
    var viewDataService = DependencyResolver.Current.GetService<ViewDataService>();
    var companySelectList = viewDataService.GetPhysicianCompanySelectListWithGuid(userContext.Id);
}

<div class="row">
    <div class="col-md-4">
        <form id="new-invoice-form" method="post" action="~/Accounting/CreateInvoice">
            @Html.HiddenFor(model => model.ServiceProviderGuid)
            <div class="form-group">
                <label class="control-label">Customer</label>
                @Html.DropDownList("CustomerGuid", new SelectList(companySelectList, "Value", "Text", "Group.Name", Model.CustomerGuid), "-- Customer --", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label class="control-label">Invoice Date</label>
                <div class="input-group date" style="width:100%" id="InvoiceDatePicker">
                    @Html.TextBox("InvoiceDate", Model.InvoiceDate.ToOrvosiDateFormat(), new { @class = "form-control" })
                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-success"><i class="fa fa-plus"></i> Create</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <script type="text/javascript">

        $(function () {

            $('#InvoiceDatePicker').datepicker({
                format: 'yyyy-mm-dd',
                autoclose: true
            });

        });
    </script>
}
