@using Features = Orvosi.Shared.Enums.Features
@model UnsentInvoiceViewModel
@{
    var unsentInvoice = Model;
}
<div id="unsentinvoice-invoice-@(unsentInvoice.InvoiceId)-servicerequest-@(unsentInvoice.ServiceRequestId)" class="row o-dashboard-tr">
    <div class="col-md-2 o-dashboard-td bg-warning">
        @if (unsentInvoice.ServiceRequestId.HasValue)
        {
            @Html.Partial("ServiceRequest", unsentInvoice.ServiceRequest)
        }
        else
        {
            <div>No related service request</div>
        }
    </div>
    <div class="col-md-8 o-dashboard-td">
        @if (unsentInvoice.InvoiceId.HasValue)
        {
            @Html.Partial("Invoice", unsentInvoice.Invoice)
        }
        else
        {
            <div class="text-muted">Create invoice</div>
        }
    </div>
    <div class="col-md-2 o-dashboard-td">
        @Html.Partial("InvoiceMenu", unsentInvoice)
    </div>
</div>
