@using Features = Orvosi.Shared.Enums.Features
@model UnsentViewModel
@{
    ViewBag.Title = "Invoices";
}

@if (Model.Days.Count() == 0)
{
    <p><strong>There are no invoices that need to be sent out.</strong></p>
}

@foreach (var dayFolder in Model.Days)
{
    <div class="row o-th" style="background-color: aliceblue">
        <div class="col-md-12">
            <div class="h3">
                @dayFolder.DayName
            </div>
        </div>
    </div>
    <div class="row o-dashboard-tr">
        <strong class="col-md-2 o-dashboard-td bg-warning">Case</strong>
        <strong class="col-md-2 o-dashboard-td">Header</strong>
        <strong class="col-md-4 o-dashboard-td">Items</strong>
        <strong class="col-md-2 o-dashboard-td">Total</strong>
        <strong class="col-md-2 o-dashboard-td text-right">Actions</strong>
    </div>

    foreach (var unsentInvoice in dayFolder.UnsentInvoices)
    {
        @Html.Partial("UnsentInvoice", unsentInvoice)
    }
}
