@model PhysicianInviteViewModel

<h3>Welcome to ImeHub</h3>
<p>
    You have been invited to be the owner of @Model.Physician.CompanyName
</p>
<p>
    To accept click the following link: @Url.Content("~/Physicians/Physician/AcceptOwnerInvite?physicianid=" + Model.PhysicianId.ToString())
</p>

Regards,
ImeHub