@using Enums = ImeHub.Models.Enums
@model ReadOnlyViewModel

<div style="margin-left:20px;">
    <div id="physician-readonly-properties-container">
        @Html.Partial("Properties", Model)
    </div>
</div>

<div style="margin-left:20px;">
    <div id="company-readonly-addresses-container">
        @Html.Partial("Address/AddressList", Model.AddressList)
    </div>
</div>