@using WebApp.Library.Extensions
@using Features = Orvosi.Shared.Enums.Features
@using WebApp.ViewModels.ServiceRequestTaskViewModels
@model CaseViewModel

@{
    var identity = User.Identity.GetClaimsIdentity();
    var roleId = identity.GetRoleId();
    var features = identity.GetFeatures();
}

@if (features.Contains(Features.ServiceRequest_Box.ViewBoxFolder))
            {
    <h4 style="line-height:30px;">Case Files and Reports</h4>
        <hr />
    if (Model.BoxCaseFolderId == null)
    {
        if (features.Contains(Features.ServiceRequest_Box.CreateFolder))
        {
            <div>
                <form action="~/ServiceRequest/CreateBoxCaseFolder?ServiceRequestId=@Model.ServiceRequestId" method="post">
                    <button type="submit" class="btn btn-primary">Create Case Folder</button>
                </form>
            </div>
        }
    }
    else
    {
        if (features.Contains(Features.ServiceRequest_Box.CreateFolder))
        {
            <p><a class="btn btn-default" target="_blank" href="@Model.BoxCaseFolderURL"><i class="fa fa-folder-open-o fa-lg"></i>&nbsp;Open Case Folder</a></p>
                <div class="help-block">This folder contains the supporting case files provided by the company and the report.</div>
        }
        if (features.Contains(Features.ServiceRequest_Box.ManageBoxFolder))
        {
            <a href="~/ServiceRequest/BoxManager?serviceRequestId=@Model.ServiceRequestId" class="btn btn-primary">Box Share and Sync Manager</a>
        }
    }
}