@model Orvosi.Data.Invoice
@{
    Layout = "~/Views/Shared/_LayoutPrint.cshtml";
    ViewBag.Title = "Invoice";
}

@Html.Partial("DocumentHeader", Model)
<div style="clear: both"></div>
@Html.Partial("_Invoice", Model)