body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    margin-bottom:0;
}

.jumbotron {
    background-color: #677171;
    /*background-image: url('images/Orvosi-Banners-clouds.png');*/
    color: #F2F2F2;
    padding: 18px 60px 18px 60px;
}

.myjumbotron {
    background-color: #677171;
    /*background-image: url('images/Orvosi-Banners-clouds.png');*/
    color: #F2F2F2;
    padding: 18px 60px 18px 60px;
    margin-bottom: 10px;
}
